<a href="https://colab.research.google.com/github/evellynliena/PrakAlgo/blob/main/Weekly_Exercise_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Weekly Exercise 1**

Sebutkan dan jelaskan perbedaan dari list, tuple, set dan dictionary dalam python:

1. List adalah koleksi data yang berurutan dan dapat diubah. List dapat berisi duplikat.
2. Tuple adalah koleksi data yang berurutan dan tidak dapat diubah. Tuple dapat berisi duplikat.
3. Set adalah kolesi data yang tidak berurutan, tidak dapat diubah, dan tidak memiliki indeks. Set tidak bisa berisi duplikat
4. Dictionary dalah koleksi data yang berurutan dan dapat diubah. Tetapi tidak bisa berisi duplikat

# **Weekly Exercise 2**

In [9]:
mahasiswa_list = [
    {
        "Nama": "Sua",
        "Kelas": "11-A",
        "Tanggal Lahir": "22 December 2004",
        "No HP": "022204086669",
        "Alamat": "Jln. Sweet Dreams",
        "Hobi": ["Membaca", "Menggambar", "Menulis"]
    },
    {
        "Nama": "Mizi",
        "Kelas": "11-A",
        "Tanggal Lahir": "20 Agustus 2004",
        "No HP": "011104089666",
        "Alamat": "Jln. My Clematis",
        "Hobi": ["Menyanyi", "Memasak", "Berkebun"]
    },
    {
        "Nama": "Ivan",
        "Kelas": "10-B",
        "Tanggal Lahir": "14 Februari 2005",
        "No HP": "044404086669",
        "Alamat": "Jln. Black Sorrow",
        "Hobi": ["Fotografi", "Bermain piano", "Menulis"]
    },
    {
        "Nama": "Hyuna",
        "Kelas": "12-B",
        "Tanggal Lahir": "5 September 2004",
        "No HP": "055504999666",
        "Alamat": "Jln. All in",
        "Hobi": ["Menyanyi", "Bermain guitar"]
    },

]
for mahasiswa in mahasiswa_list:
    print("Nama         :", mahasiswa["Nama"])
    print("Kelas        :", mahasiswa["Kelas"])
    print("Tanggal Lahir:", mahasiswa["Tanggal Lahir"])
    print("No HP        :", mahasiswa["No HP"])
    print("Alamat       :", mahasiswa["Alamat"])
    print("Hobi         :")
    for i, hobi in enumerate(mahasiswa["Hobi"], 1):
        print(f"  {i}. {hobi}")
    print("\n")

Nama         : Sua
Kelas        : 11-A
Tanggal Lahir: 22 December 2004
No HP        : 022204086669
Alamat       : Jln. Sweet Dreams
Hobi         :
  1. Membaca
  2. Menggambar
  3. Menulis


Nama         : Mizi
Kelas        : 11-A
Tanggal Lahir: 20 Agustus 2004
No HP        : 011104089666
Alamat       : Jln. My Clematis
Hobi         :
  1. Menyanyi
  2. Memasak
  3. Berkebun


Nama         : Ivan
Kelas        : 10-B
Tanggal Lahir: 14 Februari 2005
No HP        : 044404086669
Alamat       : Jln. Black Sorrow
Hobi         :
  1. Fotografi
  2. Bermain piano
  3. Menulis


Nama         : Hyuna
Kelas        : 12-B
Tanggal Lahir: 5 September 2004
No HP        : 055504999666
Alamat       : Jln. All in
Hobi         :
  1. Menyanyi
  2. Bermain guitar